<!-- card-temperatura -->
<mat-card class="col-12 text-center">
  <mat-form-field appearance="fill" class="col-3 mt-4 mb-4 me-5">
    <mat-label>Converter De:</mat-label>
    <mat-select>
      <mat-option *ngFor="let temperatura of temperaturas" [value]="temperatura">{{ temperatura }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="fill" class="col-3">
    <mat-label>Converter Para: </mat-label>
    <mat-select>
      <mat-option *ngFor="let temperatura of temperaturas" [value]="temperatura">{{ temperatura }}
      </mat-option>
    </mat-select>
  </mat-form-field>
</mat-card>

<!-- 
  - encapsular para dentro da tag form,
  - de e para dentro do formulario de temperatura,
  - formGroup e formControl
  - Nomear os campos para transferir camps do html 
  - Criar os formGroup e formControl tambem no TS ara conectar eles 

-->